.devc-login-form-container{
    max-width: 360px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px;
}

.devc-form-login{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.devc-form-login h2{
    font-size: 16px;
    font-weight: 400;
    color: var(--devc-color-font-primary);
    text-transform: uppercase;
}

@media(min-width:576px){
    .devc-form-login h2{
        font-size: 24px;
    }

    .devc-btn-form{
        margin-top: 20px;
    }
}