@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --devc-color-bg-primary: #E8E8E8;
    --devc-color-bg-secondary: #FFE500;
    --devc-color-bg-tertiary: #636363; 
    --devc-color-bg-admin: #0caf1d;
    --devc-color-bg-notification: #f00;

    
    --devc-color-card-bg: #fff;
    --devc-color-card-border: #d9d9d9;
    
    --devc-color-btn-primary: #3483fa;
    --devc-color-btn-inverse: #fff;
    --devc-color-btn-primary-hover: #2e75df;
    --devc-color-btn-inverse-hover: #ececec;
    --devc-color-btn-next-page-hover: #c2d8e7;
    --devc-color-btn-search-bar: #D9D9D9;
    
    --devc-color-font-primary: #636363;
    --devc-color-font-secondary: #0caf1d;
    --devc-color-font-tertiary: #fff;
    --devc-color-font-placeholder: #D9D9D9;

    --devc-color-input-border: #d9d9d9;
    ---devc-color-input-error: #FF3333;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    border: 0;
}

html, body{
    background-color: var(--devc-color-bg-primary);
}

a,a:hover{
    text-decoration: none;
    color: unset;
}

/* ------------- */
/* generic styles */

.devc-container{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.devc-pd-top-20{
    padding-top: 20px;
}

.devc-mb-20{
    margin-bottom: 20px;
}

.devc-mt-20{
    margin-top: 20px;
}

.devc-mr-20{
    margin-right: 20px;
}

.devc-cursor-click{
    cursor: pointer;
}

.devc-section-title{
    font-size: 16px;
    color: var(--devc-color-font-primary);
    text-align: center;
    font-weight: bold;
}

.dsc-txt-left{
    text-align: left;
}

@media(min-width:576px){
    .devc-section-title{
        font-size: 24px;
        text-align: left;
    }
}

/* ------------- */
/* header styles */

header{
    height: 70px;
    padding: 20px;
    display: flex;
    align-items: center;

}

.devc-header-admin{
    background-color: var(--devc-color-bg-admin);
    color: var(--devc-color-font-tertiary);
}

.devc-header-client{
    background-color: var(--devc-color-bg-secondary);
    color: var(--devc-color-font-primary);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    font-size: 1rem;
}

nav img{
    width: 20px;
    cursor: pointer;
}

nav div{
    display: flex;
    align-items: center;
}

.devc-sign-in-link{
    font-size: 14px;
    font-weight: bold;
    margin-right: 0;
}

.devc-item-nav{
    margin-left: 10px;
}

.devc-user-container{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    align-items:end;
}

.devc-user-container p{
    cursor: pointer;
    font-size: 12px;
}

.devc-user-container h4{
    cursor: pointer;
    font-size: 14px;
}

/* ------------- */
/* header admin styles */

.devc-item-nav-name-admin{
    display: none;
    margin-left: 5px;
    font-size: 14px;
}

/* ------------- */
/* card styles */

.devc-line-bottom{
    border-bottom: 1px solid var(--devc-color-card-border);
}

.devc-card{
    background-color: var(--devc-color-card-bg);
    border-radius: 4px;
    border: 1px solid var(--devc-color-card-border);
}

.devc-max-width{
    max-width: 280px;
}

.devc-flex-wrap{
    display: flex;
    flex-wrap: wrap;
}

/* ------------- */
/* main styles */

main{
    padding: 0 20px 80px 20px;
}

/* ------------- */
/* button styles */

.devc-btn-container{
    width: 100%;
    display: grid;
    grid-gap: 20px;
}

.devc-btn{
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 0;
    text-align: center;
}

/* ------------- */
/* search bar styles */

@media(min-width: 576px){
    html,body{
        font-size: 24px
    }
    .devc-btn-container{
        width: 220px;
    }
    .devc-item-nav-name-admin{
        display: block;
    }
}

/* ------------- */
/* form styles */

.devc-form-control-container{
    display: grid;
    grid-gap: 20px 0;
    margin: 20px 0;
    width: 100%;
}

.devc-form-input{
    width: 100%;
    height: 40px;
    padding-left: 20px;
    color: var(--devc-color-font-primary);
    border-radius: 4px;
    border: 1px solid var(--devc-color-input-border);
}

.devc-form-input:focus{
    outline: none;
}

.devc-form-input::placeholder{
    color: var(--devc-color-font-placeholder);
}

.devc-select:invalid{
    color: var(--devc-color-font-placeholder);
}

.devc-select option[disabled]{
    display: none;
}

.devc-select option{
    color: var(--devc-color-font-primary);
}

.devc-textarea{
    resize: none;
    height: 128px;
    padding-top: 10px;
}

/* ------------- */
/* Table styles */

.devc-table{
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.devc-table thead{
    height: 55px;
    font-size: 14px;
    color: var(--devc-color-font-primary);
    background-color: var(--devc-color-card-bg);
    border-radius: 0 5px 5px 0;
}

.devc-table tbody{
    text-align: center;
    font-size: 12px;
    color: var(--devc-color-font-primary);
    background-color: var(--devc-color-card-bg);
}

.devc-table tbody tr{
    border-top: 1px solid var(--devc-color-card-border);
}