.devc-cart-product{
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.devc-cart-product-left{
    display: flex;
    color: var(--devc-color-font-primary);
}

.devc-cart-product-left img{
    width: 100px;
    margin-right: 22px;
}

.devc-cart-product-name-quantity{
    margin-top: 10px;
}

.devc-cart-product-name-quantity h3{
    font-size: 14px;
}

.devc-cart-item-quantity-container{
    display: flex;
    font-weight: bold;
    font-size: 16px;
}

.devc-cart-item-quantity-container p{
    margin: 0 5px;
}

.devc-cart-item-quantity-container span{
    color: var(--devc-color-btn-primary);
    cursor: pointer;
}

.devc-cart-product-right{
    font-size: 16px;
    color: var(--devc-color-font-secondary);
    margin-bottom: 10px;
    margin-top: 0;
}

.devc-cart-total-price{
    padding: 10px 20px;
    color: var(--devc-color-font-secondary);
    font-size: 18px;
    display: flex;
    justify-content: left;
}

@media(min-width: 576px){

    .devc-cart-product-right{
        margin-top: 10px;
    }

    .devc-cart-total-price{
        justify-content: right;
    }

    .devc-cart-product{
        flex-direction: row;
        justify-content: space-between;
    }
}